USE [master]
GO
/****** Object:  Database [ControlCeramics]    Script Date: 28.10.2025 2:27:16 ******/
CREATE DATABASE [ControlCeramics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlCeramics', FILENAME = N'C:\Users\kasan\ControlCeramics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlCeramics_log', FILENAME = N'C:\Users\kasan\ControlCeramics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlCeramics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlCeramics]
GO
/****** Object:  User [Worker]    Script Date: 28.10.2025 2:27:16 ******/
CREATE USER [Worker] FOR LOGIN [Worker] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Edit]    Script Date: 28.10.2025 2:27:16 ******/
CREATE USER [Edit] FOR LOGIN [Edit] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Adminn]    Script Date: 28.10.2025 2:27:16 ******/
CREATE USER [Adminn] FOR LOGIN [Adminn] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Adminn]
GO
/****** Object:  Table [dbo].[Defect]    Script Date: 28.10.2025 2:27:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Defect](
	[defect_id] [int] IDENTITY(1,1) NOT NULL,
	[name_defect] [varchar](max) NOT NULL,
	[description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Defect] PRIMARY KEY CLUSTERED 
(
	[defect_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operator]    Script Date: 28.10.2025 2:27:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operator](
	[operator_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NOT NULL,
	[position] [varchar](max) NULL,
 CONSTRAINT [PK_Operator] PRIMARY KEY CLUSTERED 
(
	[operator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Party]    Script Date: 28.10.2025 2:27:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Party](
	[party_id] [int] IDENTITY(1,1) NOT NULL,
	[party_number] [varchar](max) NOT NULL,
	[party_date] [date] NOT NULL,
	[product_type] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Party] PRIMARY KEY CLUSTERED 
(
	[party_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28.10.2025 2:27:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[party_id] [int] NOT NULL,
	[numper] [varchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 28.10.2025 2:27:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[operator_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[defect_id] [int] NOT NULL,
	[check_date] [date] NOT NULL,
	[photo] [varchar](max) NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Party] FOREIGN KEY([party_id])
REFERENCES [dbo].[Party] ([party_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Party]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Defect] FOREIGN KEY([defect_id])
REFERENCES [dbo].[Defect] ([defect_id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Defect]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Operator] FOREIGN KEY([operator_id])
REFERENCES [dbo].[Operator] ([operator_id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Operator]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Product]
GO
USE [master]
GO
